<header>
  <img
    class="mat-display-1"
    src="../../../assets/images/logo.png"
    alt="Bankist logo"
    height="106px"
    width="106px"
  />
  <h1>Login into your bankist account.</h1>
</header>

<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
  <mat-form-field appearance="outline">
    <span matPrefix> <mat-icon color="primary">email</mat-icon> </span>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      type="email"
      autocomplete="email"
      placeholder="e.g. john@doe.com"
      formControlName="email"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" hintLabel="Min 6 charachters">
    <mat-label>Enter your password</mat-label>
    <span matPrefix> <mat-icon color="primary">lock</mat-icon> </span>
    <input
      #password
      matInput
      [type]="passwordType"
      formControlName="password"
      autocomplete="current-password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <mat-icon>
        {{ passwordType === 'password' ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
  </mat-form-field>
  <div class="actions mt-3">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="self-start"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
    or
    <button type="button" mat-raised-button (click)="switchToSignup()">
      Signup
    </button>
  </div>
</form>
