@mixin center {
  display: grid;
  place-items: center;
}

:host {
  @include center;
  margin-top: var(--margin-top);
}

header {
  @include center;
  @apply py-8;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

span[matPrefix] {
  margin-inline-end: 2rem;
}
