<header>
  <img
    class="mat-display-1"
    src="../../../assets/images/logo.png"
    alt="Bankist logo"
  />
  <h1>Login into your bankist account.</h1>
</header>

<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
  <mat-form-field appearance="outline">
    <span matPrefix> <mat-icon color="primary">email</mat-icon> </span>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      type="email"
      auto-focus
      placeholder="e.g. john@doe.com"
      formControlName="email"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <span matPrefix> <mat-icon color="primary">lock</mat-icon> </span>
    <input matInput [type]="passwordType" formControlName="password" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <mat-icon>
        {{ passwordType === 'password' ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
  </mat-form-field>
  <div class="actions">
    <button type="submit" mat-raised-button color="primary" class="self-start">
      Login
    </button>
    or
    <button type="button" mat-raised-button (click)="switchToSignup()">
      Signup
    </button>
  </div>
</form>
