<header class="px-2 pt-5 pb-2 md:pb-4">
  <h1 class="mat-display-1">Welcome to bankist.</h1>
  <p class="md:leading-6 text-lg lg:text-x">
    Tell us about you, <br />And we'll create the account for you.
  </p>
</header>

<section id="signup">
  <form [formGroup]="signupForm" (ngSubmit)="handleRegistration()">
    <mat-stepper orientation="vertical">
      //TODO use braekpoint observers to set the orientation for diff screens.

      <mat-step state="email" tabIndex="-1">
        <ng-template matStepLabel>Fill out your email address.</ng-template>
        <h3>Tell us your primary email adress.</h3>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <span matPrefix>
              <mat-icon color="primary">email</mat-icon>
            </span>
            <input
              matInput
              type="email"
              placeholder="john@doe.gmail.com"
              autocomplete="email"
              autofocus
              formControlName="email"
            />
          </mat-form-field>
          <button
            type="button"
            class="flex self-start"
            mat-stroked-button
            color="primary"
            matStepperNext
          >
            Proceed <mat-icon> chevron_right </mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step state="personalInfo" tabIndex="-1">
        <ng-template matStepLabel
          >Fill out your personal information.</ng-template
        >
        <h3>Tell us your primary information.</h3>
        <div class="field">
          <div class="names-field">
            <mat-form-field appearance="outline" class="flex-auto">
              <mat-label>First name</mat-label>
              <input
                type="text"
                matInput
                placeholder="John"
                autocomplete="given-name"
                autofocus
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-auto">
              <mat-label>Surname</mat-label>
              <input
                type="text"
                matInput
                placeholder="Doe"
                autocomplete="family-name"
                formControlName="surname"
              />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Date of birth</mat-label>
            <input
              matInput
              placeholder="MM/dd/yyyy"
              [matDatepicker]="picker"
              formControlName="dateOfBirth"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="flex gap-5">
            <button
              type="button"
              class="self-start"
              mat-stroked-button
              matStepperPrevious
            >
              <mat-icon> chevron_left </mat-icon> Previous
            </button>
            <button
              type="button"
              class="self-start"
              mat-stroked-button
              color="primary"
              matStepperNext
            >
              Proceed <mat-icon> chevron_right </mat-icon>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step optional="isOptional" state="address" tabIndex="-1">
        <ng-template matStepLabel>Fill out your adresses.</ng-template>
        <h3>Tell us your address(es)</h3>
        <div class="" formArrayName="addresses" class="field">
          <ng-container
            *ngFor="let address of addresses.controls; let i = index"
          >
            <mat-form-field appearance="outline">
              <span matPrefix>
                <mat-icon color="primary">{{
                  i === 0 ? 'home' : 'contact_mail'
                }}</mat-icon>
              </span>
              <mat-label>Adress {{ i + 1 }}</mat-label>
              <input
                type=""
                matInput
                [formControlName]="i"
                [autocomplete]="'address-level' + (i + 1)"
              />
              <button mat-icon-button matSuffix (click)="removeAdress(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>
          <div class="flex flex-col sm:flex-row gap-5">
            <button
              type="button"
              class="self-start"
              mat-stroked-button
              (click)="addAddress()"
            >
              Add new adress <mat-icon> add </mat-icon>
            </button>
            <div class="flex gap-5">
              <button
                type="button"
                class="self-start"
                mat-stroked-button
                matStepperPrevious
              >
                <mat-icon> chevron_left </mat-icon> Previous
              </button>
              <button
                type="button"
                class="self-start"
                mat-stroked-button
                color="primary"
                matStepperNext
              >
                Proceed <mat-icon> chevron_right </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step state="password" tabIndex="-1">
        <ng-template matStepLabel>Fill out your password.</ng-template>
        <h3>
          Choose a secure password. <br />
          It should be longer than
          <strong>6 charachters</strong>
        </h3>
        <div class="field">
          <mat-form-field appearance="outline" hintLabel="Min 6 charachters.">
            <mat-label>New Password</mat-label>
            <span matPrefix> <mat-icon color="primary">lock</mat-icon> </span>
            <input
              matInput
              [type]="passwordFieldType"
              autocomplete="new-password"
              autofocus
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePasswordVisibility()"
            >
              <mat-icon>
                {{
                  passwordFieldType === 'password'
                    ? 'visibility_off'
                    : 'visibility'
                }}
              </mat-icon>
            </button>
          </mat-form-field>
          <div class="flex flex-col mt-2 sm:flex-row gap-5">
            <button
              type="button"
              class="self-start"
              mat-stroked-button
              matStepperNext
            >
              <mat-icon> chevron_left </mat-icon>Previous
            </button>
          </div>
        </div>
      </mat-step>

      <!-- icon overrides -->
      <ng-template matStepperIcon="email">
        <mat-icon>email</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="personalInfo">
        <mat-icon>person</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="address">
        <mat-icon>home</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="password">
        <mat-icon>password</mat-icon>
      </ng-template>
    </mat-stepper>

    <div class="form-actions m-6">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!signupForm.valid"
      >
        Create account
      </button>
    </div>
  </form>
</section>
