<section class="transactions__card sm:overflow-hidden">
  <div class="transactions__title">
    <div class="text-xl lg:text-2xl">Transaction statements</div>
  </div>

  <div class="transactions__content">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>Recipient</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.accountId | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Transaction type</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.kind | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.amount | currency }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>

  <div class="transactions__action">
    <button mat-stroked-button (click)="viewTrandactionStatement()">
      View all statements <mat-icon color="primary">chevron_right</mat-icon>
    </button>
  </div>
</section>
