table {
  width: 100%;
}

.transactions {
  &__card {
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-rows: 3rem auto;

    @media (prefers-reduced-motion: no-preference) {
      transition: all 500ms ease;

      &:hover {
        box-shadow: 0 0 5px 0 rgba(#000, 0.25);
      }
    }
  }
  &__title {
    padding-inline: 1rem;
    color: #fff;
    background-color: var(--clr-accent);
    border-bottom: 1px solid lightgray;

    display: flex;
    align-items: center;
  }
  &__content {
    padding: 1rem;
    margin-block-end: 3rem;
  }
  &__action {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
