:host {
  display: grid;
  place-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  padding-block-start: 1.5rem;
  max-width: 40rem;
}

.names-field {
  @apply flex flex-col sm:flex-row sm:gap-5;
}

span[matPrefix] {
  margin-inline-end: 2rem;
}

button.mat-button-wrapper {
  display: flex;
  align-items: center;
}
