:host {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 0;
  aspect-ratio: 1 / 0.5;

  background-color: #ecebed;
  border-radius: 4px;

  transition: all 500ms ease;
}

:host.mat-elavation-z2 :host {
  transform: translateY(10px);
}
