:host {
  --gap: 2rem;
  margin-block: 2rem;
  display: grid;
  row-gap: var(--gap);

  grid-template-columns: minmax(12rem, 30rem);
  grid-template-areas:
    'summary'
    'links'
    'transactions';
  justify-content: center;

  @media (min-width: 768px) {
    --gap: 1.5rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      'user transactions'
      'summary transactions'
      'links transactions';
  }

  @media (min-width: 1024px) {
    --gap: 0.5rem;
    grid-template-columns: 300px max-content 400px;
    grid-template-areas:
      'user summary transactions'
      'user links transactions';
  }
}

#user-info {
  grid-area: user;
}

#summary {
  grid-area: summary;
}

#links {
  grid-area: links;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

#transactions {
  grid-area: transactions;
}
