:host {
  --gap: 2rem;

  margin-block-start: var(--gap);
  display: grid;
  gap: var(--gap);

  grid-template-columns: minmax(12rem, 30rem);
  grid-template-areas:
    'summary'
    'links'
    'transactions';
  justify-content: center;
}

#user-info {
  grid-area: user;
}

#summary {
  grid-area: summary;
}

#links {
  grid-area: links;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

#transactions {
  grid-area: transactions;
}

.dash__link {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  aspect-ratio: 1 / 0.5;
  background-color: #ecebed;
  border-radius: 4px;
  transition: all 500ms ease;

  mat-icon {
    display: none !important;
  }
}

.dash__link.mat-elavation-z2 .dash__link {
  transform: translateY(10px);
}

@media (min-width: 480px) {
  .dash__link {
    font-size: 1rem;

    mat-icon {
      display: initial !important;
    }
  }
}
