:host {
  --gap: 2rem;

  margin-block-start: var(--gap);
  display: grid;
  gap: var(--gap);

  grid-template-columns: minmax(12rem, 30rem);
  grid-template-areas:
    'summary'
    'links'
    'transactions';
  justify-content: center;
}

#user-info {
  grid-area: user;
}

#summary {
  grid-area: summary;
}

#links {
  grid-area: links;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

#transactions {
  grid-area: transactions;
}
