<app-mini-user-info id="user-info" class="hidden"></app-mini-user-info>
<app-mini-summary id="summary"></app-mini-summary>
<div id="links">
  <app-dashboard-link appLinkHover linkTo="/transact"
    >Transact</app-dashboard-link
  >
  <app-dashboard-link appLinkHover linkTo="/request-loan"
    >Request Loan</app-dashboard-link
  >
  <app-dashboard-link appLinkHover linkTo="/transactions"
    >Transactions</app-dashboard-link
  >
</div>
<app-mini-transactions id="transactions"></app-mini-transactions>
