<div class="summary__card">
  <div class="summary__title text-xl sm:text-2xl">Account summary</div>
  <div class="summary__content md:p-2 md:justify-items-center">
    <p class="text-black">Account Id</p>
    <p class="">adFSeefJJll63456</p>
    <p class="text-black">Account balance</p>
    <p class="">$10000</p>
    <p class="text-black">Account status</p>
    <p class="">Good</p>
  </div>
  <a mat-stroked-button class="summary__action">
    <span>View account Summary</span>
    <mat-icon color="primary">chevron_right</mat-icon>
  </a>
</div>
