<mat-card class="summary__card mat-elevation-z0 border-2">
  <mat-card-title class="summary__card--title">
    <p class="mat-h1">Account summary</p>
  </mat-card-title>
  <mat-card-content class="summary__card--content">
    <p class="subheading-1 text-black">Account balance</p>
    <p class="">$10000</p>
    <p class="subheading-1 text-black">Account status</p>
    <p class="">Good</p>
    <a mat-stroked-button>
      <span>View account Summary</span>
      <mat-icon>north_east</mat-icon>
    </a>
  </mat-card-content>
</mat-card>
