/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --clr-accent: #673ab7de;
  --clr-primary: #673ab7;
  --clr-border: lightgray;
  --clr-white: #fff;
  // --spread: 5px;
  --box-shadow: 0 0 5px 0 rgba(0 0 0 / 0.25);
  --box-shadow-huge: 0 0 10px 0 rgba(0 0 0 / 0.25);
  --box-border: var(--border-width, 1px) solid var(--clr-border);
  --margin-top: clamp(55px, 10vw, 80px);
}
