<section class="user__card">
  <div class="user__header"></div>
  <figure class="user__content" aria-label="user-information">
    <img [src]="ownerInfo?.photoUrl" alt="Your profile picture" />
    <figcaption class="text-lg text-center">
      Welcome back, <br />
      <!-- TODO Add a service to display greeting -->
      <span
        >{{ ownerInfo?.firstName | titlecase }}
        {{ ownerInfo?.surname | titlecase }}</span
      >
    </figcaption>
  </figure>
  <a class="user__action" mat-stroked-button
    >Account settings
    <mat-icon color="primary">settings</mat-icon>
  </a>
</section>
