.user {
  &__card {
    border: 1px solid lightgray;
    border-radius: 5px;

    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-rows: 3rem 1fr;

    @media (prefers-reduced-motion: no-preference) {
      transition: all 500ms ease;

      &:hover {
        box-shadow: 0 0 5px 0 rgba(#000, 0.25);
      }
    }
  }
  &__header {
    padding-inline: 1rem;
    color: #fff;
    background-color: var(--clr-accent);
  }

  &__content {
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 40%;
      aspect-ratio: 1 / 1;
    }

    figcaption {
      padding-block-end: 3rem;
    }
  }

  &__action {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

@media (min-width: 1280px) {
  .user {
    &__card {
      height: 100%;
    }
    &__content {
      flex-direction: column;
      align-items: center;

      img {
        width: 60%;
        aspect-ratio: 1 / 1;
      }

      figcaption {
        padding-block-start: 2.5rem;
      }
    }
  }
}
